@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Ruwudu:wght@300;400;500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Rubik:wght@300;400&display=swap');

  body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #ede8e8;
}

header {
    color: white;
    padding: 10px;
    border: none;
    background-color: #63A3EF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.2em solid #eb813a; 
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
}

.hide {
    display: none;
}

#question-text {
    font-size: 30px;
    font-family:'Rubik', sans-serif;
    font-weight: bolder;    
    margin-inline: 10px;
    padding: 20px;
}

.answer-btn {
    background-color: #63A3EF;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    z-index: 1;
    padding: 25px;
    color: black;
    margin-inline: 7px;
    margin-block: 7px;
}

#start-button {
    margin-top: 15%;
    height: 85px;
    width: 270px;
    border-radius: 10px;
    border: none;
    background-color: #63A3EF;
    font-family: 'Rubik', sans-serif;
    font-size: larger;
    font-weight: 500;
    cursor: pointer;
    font-size: 60px;
    color: black;
}

#catavento-img {
    position: absolute;
    top: 100px; 
    left: 0px; 
    height: 500px;
    z-index: -1;
}


header img {
    height: 50px; 
    width: auto; 
}

#result-text {
    margin-inline: 20px;
    font-size: 30px;
    font-weight: bolder;
    font-family:'Rubik', sans-serif;
}

#maiorQue2 {
    width: 35%;
    height: 45%;
}

.answer-btn{position:relative;top:0}
.answer-btn:hover{top:-4px;box-shadow:0 4px 4px #999;
   transition: all .2s ease-in-out}


#start-button{position:relative;top:0}
#start-button:hover{top:-4px;box-shadow:0 4px 4px #999;
   transition: all .2s ease-in-out}

#name{
    font-family:'Rubik', sans-serif;
    font-size: 12px;
    margin-inline: 10px;
}
#escolaS{
    width: 30%;
    height: 40%;
    margin-top: 5%;
}
@media only screen and (max-width: 750px)  {
    #start-button{
        margin-top: 20%;
    }
    #name{
        margin-inline: 7%;
    }
    #escolaS{
        width: 40%;
        height: 50%;
    }
}  
