  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #efefef;
}

header {
    color: white;
    padding: 10px;
    border: none;
    background-color: #63A3EF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.hide {
    display: none;
}

#start-button {
    margin-top: 15%;
    height: 70px;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: #63A3EF;
    font-family:'Inter', sans-serif;;
    font-size: larger;
    font-weight: 500;
}

header img {
    height: 50px; 
    width: auto; 
}
